body{
    background-color: rgb(48,48,48) !important;
}
.single-artist {
    flex-shrink: 1;
    flex-basis: 10%;
}

img {
    width: 140px;
    height: 140px;
    border-radius: 50% 50% 50% 50%;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 0;
    position: relative;
    opacity: 0.5;
    border-color:none;
}

img:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.name_artist{
    position: relative;
    bottom:80px;
    font-size: 10px;
    color: aliceblue;

}

.artistas-container {
    display: flex;
    flex-wrap: wrap;
}

.containes-album {
    background:linear-gradient(rgb(48,48,48), rgb(0,0,0));
    height: 250px;
    color: aliceblue
}

#root {
    background-color: rgb(21,21,21)
}

nav.navbar {
    color: rgb(33,33,33);
    margin-bottom: 20px;
}

.btn_nav{
    font-size: 10px !important;;
    color: aliceblue !important;

}

.image-album {
    width: 40px;
    height: 40px;
}

.div-principal-album{
    background-color: rgb(48,48,48);
}
.color-div{
    background-color: rgb(48,48,48);
    color: aliceblue;
}
li{
    background-color: rgb(48,48,48)!important;
    border: none !important;
    height: 77px !important;
}
hr{
    background-color: aliceblue;
}
.div-image{
    flex: 0 0 3% !important;
    padding-left:35px !important;
    padding-right:0px !important;
}

.img_principal_album{
    position: relative;
    left: 40%;
    border-radius: 50% 50% 10% 60%;
    margin-top: 30px
}
h4{
    position: relative;
    left: 42%;
}
.title_list{
    color: aliceblue;
    margin-left: 30px;
    padding-top: 20px;
}
.icon{
    color: yellow;
    font-size: 30%;
    position: relative;
    bottom: 8px;
}
span{
    font-size: 10px;
    position: relative;
    bottom: 8px;
}

.div-footer{
    height: 30%;
    background-color: red
}

.link {
    color: aliceblue
}
.link:hover{
    color: aliceblue
}
.icon_play_album{
    float: right;
}
.div-list-album{
    position: relative;
    left: 14%;
}
.nombre-album{
    position: relative;
    top: 40%;
    font-size: 400%;
}

.div-album-nombre{
    text-align:center;
    padding-top: 50px;
}
.icon-play{
    position: relative;
    float: right;
}

.play-container{
    height: 500px;
}

audio {
    position: relative;
    left: 400px;
}